@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* poppins-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/poppins-v22-latin-100.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('../fonts/poppins-v22-latin-100.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/poppins-v22-latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v22-latin-200.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v22-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v22-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v22-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v22-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v22-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v22-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v22-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v22-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v22-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v22-latin-800.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v22-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/poppins-v22-latin-900.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* montserrat-100 - latin */
ont-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/montserrat-v29-latin-100.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v29-latin-100.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* montserrat-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/montserrat-v29-latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v29-latin-200.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* montserrat-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-v29-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v29-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v29-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v29-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v29-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v29-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v29-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v29-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v29-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v29-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v29-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v29-latin-800.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/montserrat-v29-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/montserrat-v29-latin-900.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
:root{
    --ColorWhite:white;
    --BgColor:#d6fa52;
    --BgBlue:#5F2DEE;
    --BgBlack:#0D0D0F;
    --Bgopacity:linear-gradient(94.08deg, #5f2dee 20.35%, #256ad7 74.44%);
    --FontColor:#6d6d6d;
    --Bgsky:#256ad7;
    --FontP:"Poppins", sans-serif;
    --FontM:'Montserrat',sans-serif;
}
body{
  font-family: 'Montserrat',sans-serif;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  overflow-x: hidden;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
    padding-left: 0;
}
.spacer{
    padding-top: 100px;
    padding-bottom: 100px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: end;
}
.font-familyM{
    font-family: var(--FontM);
}
.text-top{
    color:#0D0D0F;
}
.pb-120{
    padding: 120px 0;
}
.section-bg{
    background-color: #F3F2F8;
}
.fix_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--ColorWhite);
    animation: fixheader 1s ease-in-out;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 111;
    
}
@keyframes fixheader {
  form{
    transform:translateY(-100%);
  }
  to{
    transform:translateY(0);
  }
}
.theme-btn a{
    background-color: var(--BgColor);
    padding: 12px 38px;
    font-size: 16px;
    transition: all .6s ease-in-out;
    transition-duration: .5s;
    right: 12px;
    color: var(--BgBlack);
    border-radius: 8px;
    &:hover{
        background-color: var(--BgBlue);
        color: var(--ColorWhite);
    }
}
/* ==================top header======================= */
.top-header{
    background-color: var(--BgColor);
    padding: 10px 0;
    z-index: 2;
}
.top-header::before {
    position: absolute;
    right: -35px;
    top: 0;
    content: "";
    background-color: var(--BgBlue);
    height: 100%;
    width: 40%;
    -webkit-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);
}
.top-left a{
    margin-right: 30px;
    font-size: 15px;
}
.social-pages a i:hover{
    color: var(--BgColor);
    transition-duration: .5s;
}

.navbar-collapse ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.nav-item .nav-link{
    color: var(--BgBlack);
}
.main_menu li:hover > a{
    color: var(--BgBlue);
}
.sub-menu{
    position: absolute;
    top: 100%;
    width: 172px;
    background-color: var(--BgBlue);
    visibility: hidden;
    opacity: 0;
    transform: translateY(40px);
    transition: all .6s ease-in-out;
    padding: 10px 0px;
    text-align: left;
    z-index: 9999;
}
.sub-menu li a{
    font-size:15px;
    padding: 10px 24px;
    color: var(--ColorWhite);
    transition-duration: .6s;
    &:hover{
        color: var(--BgColor);
    }
}
.navbar-nav li:hover .sub-menu{
    display: block;
}

.theme-btn-h a{
    background-color: var(--BgColor);
    padding: 12px 38px;
    font-size: 16px;
    transition: all .6s ease-in-out;
    transition-duration: .5s;
    right: 12px;
    color: var(--BgBlack);
    &:hover{
        background-color: var(--BgBlue);
        color: var(--ColorWhite);
    }
}
.navbar-toggler i{
    color: var(--Bgsky);
    text-align: right;
    font-size: 40px;

}
/* .offcanvas .sidebar-nav .navbar-nav a:hover {
    text-decoration: none;
    color: #0D0D0F;
    background: #d6fa52;
}


.offcanvas .sidebar-nav .navbar-nav a {
    position: relative;
    display: block;
    transition: all .3s ease-out;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
} */
.offcanvas {
    position: fixed;
    right: -380px;
    top: 0;
    max-width: 320px;
    height: 100vh;
    background-color: var(--Bgsky);
    padding: 20px;
    z-index: 9999;
    color: var(--ColorWhite);
    overflow-y: scroll;
    transform-origin: right;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}
.button-close i{
    color: var(--ColorWhite);
}
.offcanvas-body .navbar-nav li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-weight: 400;
}
.offcanvas-body .navbar-nav li a i{
    padding-left: 170px;
}
.action-bar {
    margin-top: 30px;
    padding-left: 20px;
}
.action-bar .single-element {
    margin-bottom: 25px;
}
.single-element{
    align-items: center;
    display: flex;
}
.single-element .icon {
    font-size: 26px;
    margin-right: 12px;
}
.text h5{
    margin-top: -4px;
    margin-bottom: -1px;
    font-size: 15px !important;
    font-weight: 600;
    font-family: var(--FontM);
}
.text span{
    margin-top: -2px;
    color: var(--ColorWhite);
    font-size: 15px !important;
    line-height: 1;
    font-family: var(--FontP);
}
.call-off{
    align-items: center;
    display: flex;
}
.call-off .icon{
    font-size: 26px;
    margin-right: 15px;
    font-weight: 300;
}
.call-off .text h5{
    margin-bottom: 3px;
    margin-top: -3px;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--FontM);
}
.action-bar a {
    color: var(--BgBlack) !important;
    display: block;
}
/* =====================banner area========================= */
.banner-area .banner-slide {
    background-position: top center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
 .slide-bg {
    padding: 145px 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-image: url('../image/slide1.jpg');
}
.img-text p{
    position: relative;
    font-weight: 600;
    margin-bottom: 5px;
    padding-left: 20px;
    font-family: var(--FontM);
    width: 46%;
}
.img-text h6{
    font-family: var(--FontM);
}
.img-text h1{
    font-size: 62px;
    font-family: var(--FontM);
    width: 74%;
}
.img-text p{
    font-size: 15px;
    font-family: var(--FontP);
    padding-left: 0;
}
.img-text a{
    padding: 15px 44px;
    color: var(--BgBlack);
    &:hover{
        color: var(--ColorWhite);
    }
}
.banner-slide-active .owl-item.active.center{
	opacity: 1;
	transform: scale(1.2) !important;
}
.banner-slide-active .owl-item.active{
    opacity: 0.5;
    transform: scale(0.5);
}
.owl-theme .owl-dots .owl-dot  span{
    background-color: rgba(248, 248, 248.04);
    border:1px solid rgba(248, 248, 248.04);
    border-radius: 30px;
    width:16px;
    height:16px;
    position: relative;
    bottom:120px;
    transition-duration: .6s;
}
.owl-theme .owl-dots .owl-dot:hover  span{
    background-color: var(--BgColor) !important;
}
.owl-theme .owl-nav .owl-prev span{
    font-size: 55px;
    position: absolute;
    top: 286px;
    left: 26px;
    color: var(--ColorWhite);
}
.owl-theme .owl-nav .owl-next span{
    font-size: 55px;
    position: absolute;
    top: 286px;
    right: 40px;
    color: var(--ColorWhite);
    font-weight: 400;
}
.owl-theme .owl-nav .owl-prev span::before{
   content: '';
   position: absolute;
   top: -7px;
   left: -13px;
   border-radius: 50px;
   border: 2px solid rgba(255, 255, 255, 0.6);
   opacity: 0.6;
   width: 44px;
   height: 44px; 
}
.owl-theme .owl-nav .owl-next span::after{
   content: '';
   position: absolute;
   top: -7px;
   left: -15px;
   border-radius: 50px;
   border: 2px solid rgba(255, 255, 255, 0.6);
   opacity: 0.6;
   width: 44px;
   height: 44px; 
}

/* ========================our services====================== */
.s-title{
    margin-bottom: 30px;
    margin-top: -6px;
}
.s-title  span {
    font-size: 18px;
    color: var(--BgBlue);
}
.s-title h2{
    font-size: 48px;
    font-family: var(--FontM);
    margin-bottom: 15px;
    line-height: 1.4;
}
.single-s-box {
    padding: 35px 25px;
    padding-bottom: 30px;
    margin-top: 30px;
    border: 1px solid rgba(109, 109, 109, 0.4);
    transition: all .6s ease-in-out;
}
.single-s-box:hover{
    background: var(--ColorWhite);
    border-color:var(--ColorWhite);
    box-shadow: 0px 8px 20px rgba(95, 45, 238, 0.12);
}
.single-s-box:hover h4 a{
    background-color: var(--BgBlue);
    color: var(--ColorWhite);
}
.single-s-box .icon {
    font-size: 72px;
    color: var(--BgBlack);
    margin-bottom: 28px;
}
.single-s-box h4{
    font-family: var(--FontP);
    font-size: 18px;
    margin-bottom: 20px;
}
.single-s-box h4 a{
    padding: 15px 45px;
    background: var(--BgColor);
    color: var(--BgBlack);
    transition-duration: .6s;
}
.single-s-box p{
    color: var(--FontColor);
    font-size: 16px;
    font-family: var(--FontP);
}
.read-link{
    color: var(--BgBlack);
    transition-duration: .6s;
    &:hover{
        color: var(--BgBlue);
    }
}
/* =======================about area======================= */
.about-img-v img:first-of-type {
    padding-right: 90px;
}
.about-img-v img{
    max-width: 100%;
    vertical-align: middle;
}
.about-img-v img + img {
    margin-top: -100px;
    float: right;
}
.about-img-v .play-btn{
    left: 40%;
    top: 73%;
    z-index: 3;
    transform: translate(-50%, -50%);
   
}
.play-btn .play-v{
    width: 88px;
    height: 88px;
    background: linear-gradient(0deg, var(--BgBlue) 45.01%, #256AD7 100%);
    line-height: 88px;
    transition: all .3s ease-in-out;
    animation: videop infinite 3.5s;
    font-size: 22px;
    text-align: center;
    color: var(--ColorWhite);
    &:hover{
        color: var(--BgColor);
    }
}
 @keyframes videop{
    0%{
        box-shadow: 0 0 0 0 rgba(37, 106, 215, 0.2);
    }
    40%{
        box-shadow: 0 0 0 25px rgba(37, 106, 215, 0);
    }
    80%{
        box-shadow: 0 0 0 25px rgba(37, 106, 215, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(37, 106, 215, 0);
    }
} 
.s-title p{
    color: var(--FontColor);
    line-height: 1.6;
}
.info-icon h3{
    font-family: var(--FontM);
    color: var(--BgBlack);
}
.info-icon p{
    color: var(--FontColor);
    line-height: 1.5;
}
.theme-btn{
    color: var(--BgBlack);
    transition-duration: .6s;
    &:hover{
        color: var(--ColorWhite);
    }
}
/* ======================Faq area====================== */
.bg-gradient{
   background-image: linear-gradient(115.02deg, #5F2DEE 51.01%, #256AD7 102.64%) !important; 
   overflow: hidden;
   height: 858px;
}
.left-bg::before{
    content: '';
    position: absolute;
    left: 0;
    width: 35%;
    height: 859px;
    background-color: #d6fa52;
    z-index: 1;
}
.s-bottom {
    top: 2805px;
    left: -5px;
}
.faq-img{
    top: 100px;
}
.faq-img img{
    max-width: 100%;
    vertical-align: middle;
}
.accordion .accordion-i{
    border: 1px solid #999;
    margin-top: 20px;
}
.accordion .accordion-i button.accordion-btn{
    padding:20px 20px;
}
.accordion-btn{
    font-size: 17px;
    text-align: left;
    background-color: var(--ColorWhite);
    overflow-anchor: none;
}
.accordion-i button.accordion-btn::after {
    content: "+";
    font-size: 30px;
    font-weight: 300;
    transition: all 0.3s ease-in-out !important;
    width: 40px;
    height: 40px;
    background-color: var(--ColorWhite);
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: var(--BgBlack);
    margin-left: auto;
}
.accordion .accordion-i button.accordion-btn:not(.collapsed)::after {
    content: "-";
    font-size: 30px;
    font-weight: 300;
    width: 40px;
    height: 40px;
    background: var(--BgColor);
    border-radius: 50%;
    line-height: 40px;
    transition: all .3s ease-in-out;
}
/* =========================best services area============================ */
.single-s-left-i{
    margin-top: 50px;
}
.single-s-left-i .icon{
    overflow: hidden;
    margin-bottom: 20px;
}
.content h4{
    margin-bottom: 15px;
    font-size: 22px;
}
.content h4 a{
    color: var(--BgBlack);
    font-family: var(--FontM);
    font-weight: 600;
}
.content p{
    color: var(--FontColor);
    margin: 0;
    font-size: 16px;
    text-align: left;
}

/* ======================projecr area======================= */
.project-card{
    height: 512px;
    border-radius:8px;
    padding:30px;
    margin-top: 30px !important;
    margin: 0 15px;
}
.bg-cover{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* .project-card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--BgBlue);
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0.8);   
    transition: all .5s ease-in-out;
    border-radius: 8px;
} */
.project-card:hover::before{
    opacity: 0.4;
    visibility: visible;
    transform: scale(1);
}
.plus-i{
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    border: 2px solid var(--ColorWhite);
    color: var(--ColorWhite);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 50%;
}
.plus-i:hover{
    background-color: var(--BgColor);
    color: var(--BgBlack) !important;
    border-color: var(--BgColor);
}
.project-card:hover .plus-i {
    top: 50%;
    opacity: 1;
    visibility: visible;
}
/* ====================video banner========================= */

.video-con h1{
    font-family: var(--FontM);
    font-size: 48px;
    line-height: 1.4;
    width: 90%;
}
.s-fun-counter{
    padding: 40px;
    margin-top: -50px;
}
.s-fun-counter .count{
    font-family: var(--FontM);
    font-size: 48px;
}
.s-fun-counter .fun-con h3{
    font-family: var(--FontM);
}
/* ========================testimonial slider=========================== */
.single-testimonial-c{
    border: 1px solid rgba(109, 109, 109, 0.16);
    padding: 30px 25px;
    border-radius: 8px;
    margin-top: 30px !important;
    transition: all .5s ease-in-out;
    height: 370px;
    width: 603px;
    &:hover{
        border: 1px solid var(--BgColor);
    }

}
.owl-carousel .owl-item img {

    width: 124px;
}

.client-i img{
    width: 124px;
    height: 124px;
}
    .client-img{
        text-align: center;
    }
.client-i i{
    position: absolute;
    top: 94px;
    left: 315px;
    font-size: 20px;
}
.client-i::before{
    content: '';
    position: absolute;
    top: 79px;
    left: 300px;
    height: 48px;
    width: 48px;
    background-color: var(--BgColor);
    border-radius: 50%;
    text-align: center;
    color: var(--BgBlack);
    line-height: 48px;
}
.single-testimonial-c .client-i{
    width: 124px;
    height: 124px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.testimonial-con p,span{
    color: var(--FontColor);
}
.testimonial-con h4{
    color: var(--BgBlack);
    font-family: var(--FontM);
}
/* ================team member======================== */
.single-team-m{
    height: 350px;
    width: 100%;
    padding: 15px;
    margin-top: 30px;

}
.single-team-m::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(0 70%, 100% 54%, 100% 100%, 0% 100%);
    width: 120%;
    height: 100%;
    background: var(--BgBlue);
}
.single-team-m:hover::before{
    background-color: var(--BgColor);
}
.single-team-m.active::before{
    background-color: var(--BgColor);
    content: '';
}
.single-team-m:hover h4 a{
    transition-duration: .4s;
    color: var(--BgBlack);
}
.single-team-m:hover p{
    transition-duration: .4s;
    color: var(--BgBlack);
}
.single-team-m:hover .social-links a{
    transition-duration: .4s;
    color: var(--BgBlack);
}
.m-info h4{
    margin-bottom: -2px;
    line-height: 1.1;
}
.m-info h4 a{
    font-family: var(--FontM);
    color: var(--ColorWhite);
}
.m-info p{
    color: white;
} 
.social-links a{
    color: white;
}
/* ======================latest news=========================== */
.post-featured::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba(95, 45, 238, 0.2);
}
.post-cat a{
    background-color: var(--BgColor);
    font-family: var(--FontM);
}
.post-content h3 a{
    font-family: var(--FontM);
    color: var(--BgBlack);
    line-height: 130%;
    transition-duration: .6s;
    &:hover{
        color: var(--BgBlue);
    }
}
.post-date i{
    color: var(--BgBlue);
}
.post-author i{
    color: var(--BgBlue);
}
.post-author a{
    color: var(--BgBlack);
    transition-duration: .6s;
    &:hover{
        color: var(--BgColor);
    }
}
/* =======================cta banner======================= */
.cta-btn{
    padding: 15px 38px;
    background-color: var(--BgColor);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition-duration: .4s;
    &:hover{
        background-color: linear-gradient(93.01deg, #5F2DEE 7.72%, #256AD7 88.32%);
        color: #FFF;
    }
}
.cta-btn:hover{
    background: linear-gradient(93.01deg, #5F2DEE 7.72%, #256AD7 88.32%);
    color: #FFF;
}
/* ====================footer===================== */
footer{
    background-color: black;
}
.wid-title h3{
    font-family: var(--FontM);
    font-weight: 600;
}
.single-f-wid ul li a{
    margin-top: 8px;
    display: block;
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    transition-duration: .6s;
    line-height: 28px;
    &:hover{
        color: var(--BgColor);
    }
}
.footer-con .icon{
    overflow: hidden;
    color: var(--BgColor);
    padding-left: 2px;
    margin-right: 15px;
    float: left;
}
.footer-con .contact-info{
    overflow: hidden;
}
.newsletter-box{
    position: relative;
    margin-top: 30px;
}
.newsletter-box input {
    border:none;
    outline: none;
    border-radius: 0;
    width: 100%;
    position: relative;
    background-color: var(--BgColor);
    height: 64px;
    padding-left: 25px;
    padding-right: 15px;
    line-height: 64px;
    color:var(--BgBlack) !important;
}
.newsletter-box button{
    color: var(--BgColor);
    background-color: var(--BgBlue);
    font-size: 18px;
    transition-duration: .3s; 
    width: 70px;
    border: none;   
    &:hover{
        color: white;
        background-color: var(--Bgsky);
    }
} 
.footer-b{
    background-color: var(--BgColor);
}
.b-links a{
    display: inline-block;
    margin-right: 15px;
    color: var(--BgBlack);
    transition-duration: .4s;
    &:hover{
        color: var(--BgBlue);
    }
}
/* ===========================about section==================================== */
.page-h h1{
    font-size: 48px;
}
.page-b::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(95.06deg, #5F2DEE 37.5%, #256AD7 109.04%);
    opacity: 0.48;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.page-b::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(95.06deg, #5F2DEE 37.5%, #256AD7 109.04%);
    opacity: 0.48;
    width: 100%;
    height: 100%;
    z-index: -1;
}
nav .h-banner{
    list-style: none;
}
.service-t-i{
    transition-duration: .2s;

}
.service-t-i::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    z-index: 0;
    background: linear-gradient(135.01deg, #5f2dee -10.43%, #256ad7 100%);
    transition: all .35s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.service-t-i:hover::before {
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.service-t-i:hover .icon img {
    filter: brightness(100);
}

.service-t-i h4 a {
    color: var(--BgBlack);
    transition-duration: .6s;
    position: relative;
    z-index: 0;
}
.service-t-i:hover h4 a {
    color: #FFF;
}

.service-t-i:hover h4 a:hover {
    color: #d6fa52;
}
.service-t-i p {
    color: var(--FontColor);
    transition-duration: .6s;
    position: relative;
    z-index: 0;
}
.service-t-i:hover p {
    color: #FFF;

}
.work-step .circle-img{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    line-height: 165px;
    position: relative;
    margin: 0px auto;
    background-color: #eee;
}
.work-step.sp_2 .circle-img{
    width: 240px;
    height: 240px;
    line-height: 240px;
}
.work-step.sp_2 .circle-img span {
    bottom: 50%;
    background: var(--BgColor);
    color: var(--BgBlack);
}
.work-step .circle-img span{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 500px;
    color: var(--ColorWhite);
    background: var(--BgBlue);
    font-size: 14px;
    text-align: center;
    transform: translate(10px, -20px);
    font-weight: 600;
}
.work-line {
    position: absolute;
    z-index: -1;
    bottom: -481%;
    left: 49.4%;
    transform: translateX(-35%);
    width: 100%;
}
.cat-filter button.active{
    background-color: var(--BgColor);
}
.cat-filter button{
    border: none;
    padding: 12px 20px;
    display: inline-block;
    line-height: 1;
    font-weight: 600;
    color: var(--BgBlack);
    font-family: var(--FontM);
    border-radius: 8px;
    /* background-color: transparent; */
    box-shadow: 0px 16px 32px 0 rgba(255, 255, 255, 0.04);
    transition-duration: .5s;
    &:hover{
        background-color: var(--BgColor);
    }
}
.digit-count .digits{
    font-family: var(--FontM);
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 40px;
}
.digit-count p{
    text-transform: capitalize;
    font-size: 18px;
}
        .width--2{
            width: 50%;
        }
        .height--2{
            height: 600px;
        }

.client-i {
    width: 100%;
}
/* =====================================pricing area========================================= */
.pricing-plan-box{
    background-color: var(--BgColor);
    padding: 60px;
    margin-top: 30px;
    position: relative;
    border-radius: 4px;
}
.plan-title h2{
    font-size: 30px;
    margin-top: -5px;
    text-transform: capitalize;
    font-family: var(--FontM);
    margin-bottom: 15px;
    color: var(--BgBlack);
    font-weight: 600;
    line-height: 130%;
}
.plan-v{
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 25px;
    color: var(--FontColor);
}
.plan-v span{
    display: block;
    font-size: 80px;
    font-family: var(--FontM);
    color: var(--Bgsky);
    line-height: 1;
    font-weight: 400;
    letter-spacing: -3px;
    margin-bottom: 10px;
}
.plan-btn{
    position: relative;
    z-index: 1;
    font-size: 16px;
    padding-top: 15px;
    color: var(--FontColor);
}
.plan-btn::before{
    content: '';
    position: absolute;
    left: -15%;
    top: 0;
    background-color: var(--ColorWhite);
    width: 130%;
    height: 72%;
    z-index: -1;
}
.plan-btn .price-btn{
    margin-top: 10px;
    background-color: var(--BgBlue);
    color: var(--ColorWhite);
}
.price-btn{
    padding: 18px 38px;
    font-size: 16px;
    font-weight: 600;
    transition-duration: .4s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    line-height: 1;
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    &:hover{
        background-color: var(--Bgsky);
    }
}
.plan-s-list{
    display: block;
    margin-top: 40px;
}
.plan-s-list li{
    margin-top: 12px;
    position: relative;
    color: var(--BgBlack);
}
/* .plan-s-list li i{
    color: var(--BgBlack);
    margin-left: 10px;
} */

.plan-s-list li::before {
    content: "\F633";
    position: absolute;
    right: 0;
    top: 0;
    /* font-family: "Font Awesome 5 Pro"; */
    opacity: .5;
}
.error-btn{
    padding: 18px 38px;
    font-size: 16px;
    font-weight: 600;
    color: var(--BgBlack);
    background-color: var(--BgColor);
    transition: all .4s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    line-height: 1;
    display: inline-block;
    &:hover{
        background-color: var(--BgBlue);
        color: var(--ColorWhite);
    }

}
/* ========================news area===================== */
.q-content{
    padding: 50px;
}
.blog-post{
    margin-bottom: 40px;
    position: relative;
}
.post-featured{
    height: 400px;
    width: 100%;
    position: relative;
    margin-bottom: -2px;
}
.post-featured::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color:#282835;
    opacity: 0.3;
}
.post-co{
    padding: 50px;
    border: 2px solid #ededed;
    overflow: hidden;
}
.post-cat a{
    background-color: var(--BgColor);
    display: inline-block;
    color: var(--BgBlack);
    padding: 14px 18px 12px;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    transition:  all .3s ease-in-out;
    margin-bottom: 20px;
    text-transform: capitalize;
    &:hover{
        background-color: var(--BgBlue);
        color: var(--ColorWhite);
    }
}
.post-co h2{
    line-height: 1.4;
    font-size: 30px;
    font-family: var(--FontM);
    margin-bottom: 15px;
    font-weight: 600;
   
}
.post-co h2 a{
    color: var(--BgBlack);
    transition: all .35s ease-in-out;
    &:hover{
        color: var(--BgBlue);
    }    
}
.post-meta{
    margin-top: 10px;
}
.post-meta span{
    color: var(--BgBlack);
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    margin-right: 25px;
}
.post-co p{
    margin-top: 15px;
    line-height: 2;
    color: var(--FontColor);
}
.author-img{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
}
.author-info h5{
    display: inline-block;
    line-height: 1;
    font-size: 16px;
    margin-top: 9px;
    font-family: var(--FontM);
    margin-bottom: 15px;
    font-weight: 600;

}
.author-info h5 a{
    color: var(--BgBlack);
}
.post-link a{
    color: var(--BgBlack);
    font-weight: 600;
    transition: all .35s ease-in-out;
    &:hover{
        color: var(--Bgsky);
    }
}
.play-btn-n{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.play-btn-n .play-v{
    width: 88px;
    height: 88px;
    background: linear-gradient(0deg, var(--BgBlue) 45.01%, #256AD7 100%);
    line-height: 88px;
    transition: all .3s ease-in-out;
    animation: videop infinite 3.5s;
    font-size: 22px;
    text-align: center;
    color: var(--ColorWhite);
    &:hover{
        color: var(--BgColor);
    }
}
 @keyframes videop{
    0%{
        box-shadow: 0 0 0 0 rgba(37, 106, 215, 0.2);
    }
    40%{
        box-shadow: 0 0 0 25px rgba(37, 106, 215, 0);
    }
    80%{
        box-shadow: 0 0 0 25px rgba(37, 106, 215, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(37, 106, 215, 0);
    }
}
.quote-post .q-content{
    position: relative;
    background-color: var(--BgColor);
    border: none;
} 
.news-i{
    font-size: 60px;
    line-height: 80px;
    color: var(--BgBlack);
}
.page-nav ul li {
    display: inline-block;
} 
.page-nav ul li .page-numbers {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: #f6f6f6;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    margin: 0 2px;
}  
.page-nav ul li a{
    color: var(--BgBlack);
    font-size: 16px;
    &:hover{
        background-color: var(--BgColor);
        color: var(--ColorWhite);
    }
}
.main-sidebar .sidebar-widget {
    border: 2px solid #ededed;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 40px;
}
.main-sidebar .sidebar-widget .wid-title {
    margin-bottom: 25px;
    position: relative;
    padding-left: 45px;
}
.main-sidebar .sidebar-widget .wid-title::before {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    height: 4px;
    width: 18px;
    border-radius: 5px;
    position: absolute;
    background-color: var(--BgBlue);
}
.main-sidebar .sidebar-widget .wid-title::after {
    left: 22px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--BgBlue);
}
.search-widget form {
    width: 100%;
    position: relative;
}
.search-widget form input {
    background-color: #f8f8f8;
    font-size: 15px;
    padding: 20px;
    width: 100%;
    border: none;
}
.search-widget form button {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    font-size: 18px;
    height: 100%;
    background-color: var(--BgBlue);
    color: var(--ColorWhite);
    text-align: center;
    transition: all .3s ease-in-out;
    border: none;
    &:hover{
        background-color: var(--BgColor);
        color: var(--ColorWhite);
    }
}
.popular-posts .post-item{
    overflow: hidden;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}
.popular-posts .post-item .thumb {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f2f2f2;
    overflow: hidden;
    margin-bottom: 10px;
}
.post-content h5{
    font-size: 16px;
    font-family: var(--FontM);
    line-height: 22px;
    text-transform: capitalize;
    font-weight: 600;

}
.post-content h5 a{
    color: var(--BgBlack);
    transition: all .35s ease-in-out;
    &:hover{
        color: var(--BgBlue);
    }
}
.post-content .post-date {
    margin-top: 5px;
    color: var(--BgBlue);
    font-weight: 600;
    font-size: 14px;
}
.main-sidebar .sidebar-widget ul > li {
    margin-bottom: 10px;
}
.widget-categories ul li {
    display: block;
}
.main-sidebar .sidebar-widget ul > li a {
    font-size: 18px;
    text-transform: capitalize;
    transition: all .35s ease-in-out;
    &:hover{
        color: var(--Bgsky);
    }
}
.widget-categories ul li a {
    position: relative;
    background: #f8f8f8;
    padding: 17px 30px;
    line-height: 1;
    font-size: 14px;
    display: block;
    transition: all .3s ease-in-out;
    margin-bottom: 12px;
    font-weight: 600;
    color: var(--BgBlack);
}
.widget-categories ul li a span {
    position: absolute;
    width: 60px;
    line-height: 55px;
    height: 100%;
    content: "";
    background-color: var(--BgBlue);
    right: 0;
    top: 0;
    text-align: center;
    color: #fff;
}
.main-sidebar .sidebar-widget .social-link a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #f2f2f2;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: var(--BgBlack);
    transition-duration: .6s;
    &:hover{
        background-color: var(--BgColor);
        color: var(--ColorWhite);
    }
}
.tagcloud a {
    display: inline-block;
    padding: 11px 26px;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    background: #f8f8f8;
    margin-right: 5px;
    text-transform: capitalize;
    margin-bottom: 8px;
    color: var(--BgBlack);
    transition: all .35s ease-in-out;
    &:hover{
        background-color: var(--BgBlue);
        color: var(--ColorWhite);
    }
}
/* =======================contact page======================= */
.contact-card {
    background-color: #F3F2F8;
    padding: 40px;
    margin-bottom: 30px;
    transition: all .3s ease-in-out;
    &:hover{
        background-color: var(--Bgsky);
    }
}
.top-part{
    overflow: hidden;
    display: flex;
    align-items: center;
}
.contact-card .top-part .con-i {
    width: 70px;
    height: 70px;
    font-size: 20px;
    line-height: 70px;
    border-radius: 50%;
    background-color: #d6fa52;
    text-align: center;
    float: left;
    color: #0D0D0F;
    overflow: hidden;
    margin-right: 20px;
}
.contact-card h4{
    font-size: 22px;
    font-family: var(--FontM);
    font-weight: 600;
    color: var(--BgBlack);
    line-height: 130%;
}
.contact-card:hover h4{
    color: var(--ColorWhite);
}
.contact-card:hover span{
    color: var(--ColorWhite);
}
.contact-card .bottom-part {
    margin-top: 25px;
    overflow: hidden;
}
.contact-card .bottom-part .info {
    display: inline-block;
    overflow: hidden;
}
.contact-card p {
    font-size: 18px;
    font-weight: 500;
    color: var(--FontColor);
    margin: 0;
}
.contact-card:hover p{
    color: var(--ColorWhite);
}
.contact-card .bottom-part .icon {
    width: 50px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    float: right;   
    overflow: hidden;
    margin-left: 20px;
}
.contact-card:hover .icon{
    color: var(--Bgsky);
}
.personal-info {
    margin-bottom: 20px;
}
.contact-form label {
    color: #202426;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    background: #f8f8f8;
    line-height: 1;
    padding: 25px 30px;
    border: none;
    outline: none;
}
.contact-form textarea {
    height: 180px;
}   
.contact-form .submit-btn {
    background: var(--BgColor);
    color: var(--BgBlack);
    font-weight: 600;
    line-height: 1;
    padding: 25px 40px;
    transition: all .3s ease-in-out;
    width: 280px;
}
/* =========================scroll up======================== */
.scrollUp {
    width: 40px;
    height: 40px;
    position:relative;
    z-index:2;
    border-radius: 50%;
    background-color: var(--BgColor);
    color: var(--BgBlack);
    font-size: 16px;
    text-align: center;
    line-height: 44px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 0px 5px 15px 0px rgba(1, 29, 80, 0.1);
    font-weight: 400;
    transition: all 0.4s ease-in-out;
}
